doctype html
html(lang="en")
  head
    link(rel="stylesheet", href="/css/styles.css")
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{Movie.Title}
  body
    .header
      h1 MOVIE DB
  .n
    include navbar.pug
    if (Movie != null)
      .container
        .movie-container
          .movie-poster
            img(src=Movie.Poster, height='500', width='500', border='1x')
            .plot-container
              .plot
                label Plot
                hr
                p #{Movie.Plot}
              if Movie.reviews != null
                hr
                label Reviews
                hr
                ul
                  each review in Movie.reviews
                      a(href="/users/"+review.username, class="review-link") By #{review.username}
                      br
                      label(class="review-text") #{review.text}
                      hr
            if session.loggedin
              form(action='/movies/'+Movie.numID, method='post')
                .write-review
                  label Write Your Review 
                  textarea
                  br
                  label Rating
                  select(name="Rating") Rating
                    option(value="1") 1
                    option(value="2") 2
                    option(value="3") 3
                    option(value="4") 4
                    option(value="5") 5
                  button(type='submit')
                    | Write Review
          .movie-info
            title #{Movie.Title}
            label ID: #{Movie.numID}
            br
            label Name: #{Movie.Title}
            br
            label Year: #{Movie.Year}
            br
            label Rated: #{Movie.Rated}
            br
            label Released: #{Movie.Released}
            br
            label Runtime: #{Movie.Runtime}
            br
            hr
            label Genre:
            if (Movie.genres != null)
              ul
                each genre in Movie.genres
                  li
                    a(href=`/movies?genre=${genre}`) #{genre}
            hr
            label Directors:
            if (Movie.DirectorName != null)
              ul
                each director in Movie.DirectorName
                  li
                    a(href=`/people/${director}`) #{director}
            hr
            label Actors:
            if (Movie.ActorName != null)
              ul
                each actor in Movie.ActorName
                  li
                    a(href=`/people/${actor}`) #{actor}
            hr
            label Writers:
            if (Movie.WriterName != null)
              ul
                each writer in Movie.WriterName
                  li
                    a(href=`/people/${writer}`) #{writer}
            if (Movie.similar != null)
              hr
              label Recommended Movies
              ul
                each recommendedMovie in Movie.similar
                  li
                    a(href="/movies/"+recommendedMovie.numID) #{recommendedMovie.Title}

