doctype html
html(lang="en")
  head
    link(rel="stylesheet", href="/css/styles.css")
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Profile: #{User.username}

  body
    .header
      h1 MOVIE DB
    .n
      include navbar.pug
    .container 
          .user-container
              .user-info
                if session.loggedin && (session.username == User.username)
                    form(action='/contributing' method='post')
                        if User.contributor == true
                            button(type='submit', class='contribute-button') Uncontribute
                        else 
                            button(type='submit', class='contribute-button') Contribute
                title #{User.username}'s Profile
                br
                label Username: #{User.username}
                hr
                label Following:
                if (User.following.length > 0)
                  ul
                    each val in User.following
                      li
                        a(href="/people/"+val) #{val}
                else
                  p Not following anyone.
                hr
                label Recommended Movies:
                if (User.recommend.length > 0)
                  ul
                    each x in User.recommend
                      li
                        a(href="/movies/"+x.numID) #{x.Title}
                else
                  p No recommended movies yet.
                hr
                label Written Reviews:
                hr
                if (User.reviews.length > 0)
                  ul
                    each x in User.reviews
                        a(href="/movies/"+x.numID) Movie: #{x.title}
                        br
                        label Rating: #{x.rating}/5
                        br
                        label Review: #{x.review}
                        hr
                else
                  p No written reviews yet.
